.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: yellowgreen;
    border-radius: 5px;
    box-shadow: 0 0 0 0px #06182c66, 0 3px 5px -1px #06182ca6, inset 0 1px #ffffff14;
}
.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
}
.nav-btn-items{
    display: flex;
}
.nav-btn-items> button{
    width: 70px;
    cursor: pointer;
    background: #bd1c1d;
    border: none;
    margin: 20px;
    padding: 6px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
}

.logo {
    width: 220px;
    border-radius: 0px;
    margin: 5px;
}

.card {
    
    width: 12.94rem;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 #06182c66, 0 1px 8px -1px #06182ca6, inset 0 1px #ffffff14;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 0 1px #06182c66, 0 5px 8px -1px #06182ca6, inset 0 1px #ffffff14;
}

.card > img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.restaurantsList{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 12.94rem;
    height: 350px;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 #06182c66, 0 1px 8px -1px #06182ca6, inset 0 1px #ffffff14;
}
.ResInfo_menu{
    display: flex;
    margin: 10px;
}

.ResInfo_menu > div:nth-child(2){
    margin-left: 20px;
}
 /*.card {
     display: flex;
    flex-direction: column;
    flex: auto;
  } */
/*.addTo-cartBtn {
    margin-top: auto;
    color: red;
    cursor: pointer;
    background: #9acd32;
    padding: 5px;
    display: inline-block;
    width: 100%;
    border: none;
} */

